name: build and test
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: test
        run: ./gradlew build
      - name: Store reports
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: reports
          path: |
            **/build/reports/
            **/build/test-results/
